# Application Settings
SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-key-here

# Database Configuration
DATABASE_URL=postgresql://usuario:password@localhost:5432/microservices_db

# Server Configuration
HOST=0.0.0.0
PORT=8000
DEBUG=False
BASE_URL=http://localhost:8000

# Microservices URLs
AUTH_SERVICE_URL=http://localhost:8000
CATALOGUES_SERVICE_URL=http://localhost:8002
BRANCH_SERVICE_URL=http://localhost:8001
INVENTORY_SERVICE_URL=http://localhost:8003
SALES_SERVICE_URL=http://localhost:8004
SUPPLIER_SERVICE_URL=http://localhost:8005
VALIDATION_SERVICE_URL=http://localhost:8006
